.tillgram {
    background-color: white;
    font-family: "Assistant";
}

.tillgramTitleIcon {
    height: 3vh;
    padding: 0.3em;
}

.tillgramTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 5vh;
    width: 95vw;
}

.tillgramTitle {
    font-family: "frenchScript";
    font-size: 3em;
    font-weight: 600;
    padding: 0.1em;
}

.tillgramPageContent{ 
    position: absolute;
    bottom: 8vh;
    width: 100vw;
    height: 77vh;
    overflow-y: scroll;
}

.tillgramPageContent::-webkit-scrollbar {
    display: none;
}

.tillgramPicTopContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tillgramPicIcon {
    width: 15vw;
    border-radius: 50%;
    padding: 0.5em;
}

.tillgramPic {
    width: 100vw;
}

.tillgramPicButtomIcon {
    height: 3vh;
    padding: 0.3em;
}

.tillgramPicContent {
    padding: 0.5em;
}

.tillgramPictureContainer {
    padding-bottom: 1em;
}

.tillgramPicContainer  {
    position: relative;
}

.tillgramPicNumber {  
    position: absolute;
    top: 2vh;
    right: 3vw;
    background-color: #000000ad;
    border-radius: 1em;
    color: white;
    padding: 0.2em 0.7em;
    font-size: 0.9em;
}

.tillgramReadAnimation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 5em;
    font-weight: bold;
    font-family: "DancingScript";
    opacity: 0;
    visibility: hidden;
    text-shadow: -3px -3px 0 rgba(255, 255, 255, 0.492), 3px -3px 0 rgba(255, 255, 255, 0.492), -3px 3px 0 rgba(255, 255, 255, 0.492), 3px 3px 0 rgba(255, 255, 255, 0.492);
}

.tillgramEndIcon {
    width: 11vw;
    padding: 0.3em;

}

.tillgramEndButtonContainer {
    flex-direction: column;
    width: fit-content;
}

.tillgramEndTextGray {
    color: gray;
    width: 70vw;
    text-align: center;
}

.tillgramEndButton {
    font-weight: bold;
    color: #4193ef;
    padding: 0.2em;
}